# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Admin\IdeaProjects\pentago_twist\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
#new student player package
/../../../../../../:\Users\Admin\IdeaProjects\pentago_twist\src\student_player2